<header class="_header">
  <div class="_headerContainer">
    <div class="_headerImageContainer">
      <img src='/assets/logo.png' alt="logo" />
    </div>
    <div class="_rightContainer">
      <div class="_searchContainer">
        <input class="_searchInput" placeholder="Buscar" />
        <div class="_svgContainer">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.0393 16.7598C13.7507 16.7598 16.7593 13.7512 16.7593 10.0398C16.7593 6.32847 13.7507 3.31982 10.0393 3.31982C6.32798 3.31982 3.31934 6.32847 3.31934 10.0398C3.31934 13.7512 6.32798 16.7598 10.0393 16.7598Z"
              stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M14.792 14.792L18.68 18.68" stroke="black" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </div>
      </div>
      <div class="_socialContainer">
        <div class="_socialItem">
          <img src="/assets/twitter.png" alt="twitter" />
        </div>
        <div class="_socialItem">
          <img src="/assets/instagram.png" alt="instagram" />
        </div>
        <div class="_socialItem">
          <img src="/assets/youtube.png" alt="youtube" />
        </div>
      </div>
    </div>
  </div>
</header>