<section class="sectionImageText">
  <div class="container">
    <div class="sectionImageTextImageContainer">
      <img src='/assets/buho.jpg' alt='buhopsicodelico' />
    </div>
    <div class="textContainer">
      <h2 class="sectionImageTextTitle">El Buho Psicodelico</h2>
      <p class='sectionImageTextDescription'>Bienvenidos a Buho Psicodelico, un lugar en donde exploramos las dimensiones de la mente y el universo a través
        de la psicodelia. Nuestro sitio web es un espacio dedicado a aquellas mentes curiosas y aventuradas que buscan
        expandir su conciencia y sumergirse en la experiencia psicodélica.</p>
    </div>
  </div>
</section>